spring.application.name=sellerdata
spring.datasource.url=jdbc:mysql://localhost:3306/sellerdata?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul
spring.datasource.username=root
spring.datasource.password=여기에_본인_MySQL_비밀번호_입력

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

spring.thymeleaf.cache=false